*{
 margin: 0;
 padding: 0;
 
}
.row{
 margin-bottom: 2.2rem;
 padding-top: 1rem;
}
.newpage{
 margin-left: 43rem;
}
@media (min-width: 992px){
.navbar{
 background-color: aquamarine;
}
}
@media (min-width: 992px){
.navbar li{
 margin-left: 3em;
}
}
/* @media(min-width: 992px){
 .d-grid .btn{
  
  border-radius: 25px;
  border-width: 0.4rem;
  color: rgb(64, 64, 140);
  
 }
} */
.googleAuth{
 text-align: center;
}
.googleAuth g-signin2{
 align-items: center;
}
@media (min-width: 992px){
.card{
 margin-left: 100rem;
}
}
@media (min-width: 992px){
.card2{
 margin-bottom: 4rem;
}
}
